.movie-list-container {
  border-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.movie-list-container .movie-head {
  padding: 30rpx 20rpx 22rpx;
}

.movie-list-container .movie-head .slogan {
  font-size: 24rpx;
}

.movie-list-container .movie-head .more {
  float: right;
}

.movie-list-container .movie-head .more .more-text {
  vertical-align: middle;
  margin-right: 10rpx;
  color: #1f4ba5;
  font-size: 24rpx;
}

.movie-list-container .movie-head .more .more-img {
  width: 20rpx;
  height: 20rpx;
  vertical-align: middle;
}

.movie-list-container .movie-container {
  display: flex;
  flex-direction: row;
}
